{% extends 'base.html'%}
{% base content%}
	<h1>List of realtors</h1>
	{% for realtors in realtors%}
		<a href="{% url 'viewRealtor' realtorid%}">
		<h2>{{realtor}}
		{{realtors.oid}}
		</h2>
		{%endfor%}
{%endblock%}