{% extends 'base.html' %}
{% block content %}
	<main class="list">
  <header class="text-area d-flex flex-column justify-center">
      <div class="title">
        Find the best lands in Nepal
      </div>
  </header>
  <section>
    <div class="title sticky-top">Popular Today</div>
    <div class="articles">
            <article>
        <div class="article-img"><img src="./assets/images/10.jpg"></div>
        <div class="article-title">title</div>
        <div class="article-description"><i class="material-icons">room</i>Some random Place</div>
        <div class="article-description d-flex align-center primary-text"><b class="">Rs.  </b><div class="flex-one">Price</div></div>
        <div class="article-subtitle d-flex align-center"><i class="material-icons">face</i>Ram Bilas</div>
      </article>
            <article>
        <div class="article-img"><img src="./assets/images/10.jpg"></div>
        <div class="article-title">title</div>
        <div class="article-description"><i class="material-icons">room</i>Some random Place</div>
        <div class="article-description d-flex align-center primary-text"><b class="">Rs.  </b><div class="flex-one">Price</div></div>
        <div class="article-subtitle d-flex align-center"><i class="material-icons">face</i>Ram Bilas</div>
      </article>
            <article>
        <div class="article-img"><img src="./assets/images/10.jpg"></div>
        <div class="article-title">title</div>
        <div class="article-description"><i class="material-icons">room</i>Some random Place</div>
        <div class="article-description d-flex align-center primary-text"><b class="">Rs.  </b><div class="flex-one">Price</div></div>
        <div class="article-subtitle d-flex align-center"><i class="material-icons">face</i>Ram Bilas</div>
      </article>
            <article>
        <div class="article-img"><img src="./assets/images/10.jpg"></div>
        <div class="article-title">title</div>
        <div class="article-description"><i class="material-icons">room</i>Some random Place</div>
        <div class="article-description d-flex align-center primary-text"><b class="">Rs.  </b><div class="flex-one">Price</div></div>
        <div class="article-subtitle d-flex align-center"><i class="material-icons">face</i>Ram Bilas</div>
      </article>
    </div>
  </section>
   <section>
    <div class="title sticky-top">Popular Today</div>
    <div class="articles">
      <article>
        <div class="article-img"><img src="./assets/images/10.jpg"></div>
        <div class="article-title">title</div>
        <div class="article-description"><i class="material-icons">room</i>Some random Place</div>
        <div class="article-description d-flex align-center primary-text"><b class="">Rs.  </b><div class="flex-one">Price</div></div>
        <div class="article-subtitle d-flex align-center"><i class="material-icons">face</i>Ram Bilas</div>
      </article>
      <article>
        <div class="article-img"><img src="./assets/images/10.jpg"></div>
        <div class="article-title">title</div>
        <div class="article-description"><i class="material-icons">room</i>Some random Place</div>
        <div class="article-description d-flex align-center primary-text"><b class="">Rs.  </b><div class="flex-one">Price</div></div>
        <div class="article-subtitle d-flex align-center"><i class="material-icons">face</i>Ram Bilas</div>
      </article>
      <article>
        <div class="article-img"><img src="./assets/images/10.jpg"></div>
        <div class="article-title">title</div>
        <div class="article-description"><i class="material-icons">room</i>Some random Place</div>
        <div class="article-description d-flex align-center primary-text"><b class="">Rs.  </b><div class="flex-one">Price</div></div>
        <div class="article-subtitle d-flex align-center"><i class="material-icons">face</i>Ram Bilas</div>
      </article>
            <article>
        <div class="article-img"><img src="./assets/images/10.jpg"></div>
        <div class="article-title">title</div>
        <div class="article-description"><i class="material-icons">room</i>Some random Place</div>
        <div class="article-description d-flex align-center primary-text"><b class="">Rs.  </b><div class="flex-one">Price</div></div>
        <div class="article-subtitle d-flex align-center"><i class="material-icons">face</i>Ram Bilas</div>
      </article>
    </div>
  </section>
  <section class="view-all">
    <div class="filter-area"></div>
    <div class="view-all-articles">
      <div class="title sticky-top">Find all of them at the same place</div>
      <div class="articles">
        <article>
          <div class="article-img"><img src="./assets/images/10.jpg"></div>
          <div class="article-title">title</div>
          <div class="article-description"><i class="material-icons">room</i>Some random Place</div>
          <div class="article-description d-flex align-center primary-text"><b class="">Rs.  </b><div class="flex-one">Price</div></div>
          <div class="article-subtitle d-flex align-center"><i class="material-icons">face</i>Ram Bilas</div>
        </article>
        <article>
          <div class="article-img"><img src="./assets/images/10.jpg"></div>
          <div class="article-title">title</div>
          <div class="article-description"><i class="material-icons">room</i>Some random Place</div>
          <div class="article-description d-flex align-center primary-text"><b class="">Rs.  </b><div class="flex-one">Price</div></div>
          <div class="article-subtitle d-flex align-center"><i class="material-icons">face</i>Ram Bilas</div>
        </article>
        <article>
          <div class="article-img"><img src="./assets/images/10.jpg"></div>
          <div class="article-title">title</div>
          <div class="article-description"><i class="material-icons">room</i>Some random Place</div>
          <div class="article-description d-flex align-center primary-text"><b class="">Rs.  </b><div class="flex-one">Price</div></div>
          <div class="article-subtitle d-flex align-center"><i class="material-icons">face</i>Ram Bilas</div>
        </article>
        <article>
          <div class="article-img"><img src="./assets/images/10.jpg"></div>
          <div class="article-title">title</div>
          <div class="article-description"><i class="material-icons">room</i>Some random Place</div>
          <div class="article-description d-flex align-center primary-text"><b class="">Rs.  </b><div class="flex-one">Price</div></div>
          <div class="article-subtitle d-flex align-center"><i class="material-icons">face</i>Ram Bilas</div>
        </article>
      </div>
    </div>
  </section>
    </div>
  </section>
</main>
		
{% endblock %}