 <footer class="d-flex align-center flex-column justify-between">
    <div class="breaker"></div>
    <button class="btn primary d-flex align-center d-animate-none"><i class="material-icons">favorite</i><span>Subscribe</span></button>
    <div class="footer-end accent-bg w-100">
      <a href="#">Terms of Service</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Report Abuse</a>
    </div>
  </footer>